
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MainLayout</title>
</head>
<body>
    <div id="left">
        <table>
            <tr>
                <td></td>
            </tr>
            <tr></tr>
        </table>
    </div>

    @RenderBody() ;;;
</body>
</html>
